@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";


body {
    height: 100vh;
     /* background-color: #efefef; */
    /* background-image: url('https://media-manager.noticiasaominuto.com.br/1280/naom_59ba87353124d.jpg') ; */
    /* background-image: url('https://s2.best-wallpaper.net/wallpaper/1920x1200/1107/Sunrise-Earth-in-space_1920x1200.jpg'); */
    /* background-image: url('https://img.cancaonova.com/cnimages/canais/uploads/sites/6/2010/09/formacao_1600x1200-o-universo-pode-ter-sido-criado-sem-deus.jpg'); */
    background-image: url('https://mobimg.b-cdn.net/pic/v2/gallery/preview/fentezi-kosmos-pejzazh-planety-25719.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#player {
    background-color: white;
    width: 90%;
    max-width: 375px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.card{
    box-shadow: none;
    margin: 0;
}

h4{
    color: #00BFFF;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    display: flex;
    /* Aqui mexe no eixo Y */
    align-items: center; 
    /* Aqui mexe no eixo X */
    justify-content: center;
    padding: 12px;
}

.card-image{

    background: url("https://placehold.it/500") no-repeat center center / cover;
    height: 200px;
}

audio{
    width: 100%;
    margin-top: 30px;
}

p.footer{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    display: flex;
    /* Aqui mexe no eixo Y */
    align-items: center; 
    /* Aqui mexe no eixo X */
    justify-content: center;
    padding: 12px;
}
